body {
  background-color: beige;
}

.cor-e-texto-botao-verde {
  color: white;
  background-color: #A2A182;
  border: none;
  border-radius: 8px;
  padding: 10px;
  width: 150px;
  height: 45px;
  font-size: 16;
  font-weight: bold;
}

.cor-e-texto-botao-bege {
  color: #627259;
  background-color: #F4ECE2;
  border: 1px solid #627259;
  border-radius: 8px;
  padding: 10px;
  width: 150px;
  height: 45px;
  font-size: 16;
  font-weight: bold;
}

.align-center {
  text-align: center;
}

.foto-redonda-g {
  border: 1px solid #627259;
  border-radius: 100px;
  width: 150px;
  height: 150px;
}

.foto-redonda-m {
  border: 1px solid #627259;
  border-radius: 100px;
  width: 80px;
  height: 80px;
}

.textos-header {
  color: #627259;
  font-weight: bold;
  font-size: 20px;
  top: 0;
}

.container {
  display: flex;
}

.start {
  justify-content: flex-start;
}

.center {
  justify-content: center;
}

.h-100 {
  height: 100px;
}

.h-50 {
  height: 50px;
}

.l-marg-20 {
  margin-left: 20px;
}

.l-marg-50 {
  margin-left: 50px;
}

.l-marg-100 {
  margin-left: 100px;
}

.t-marg-20 {
  margin-top: 20px;
}

.t-marg-50 {
  margin-top: 50px;
}

.t-marg-100 {
  margin-top: 100px;
}

.texto-landing {
  color: #627259;
  font-weight: 800;
  font-size: 36px;
}

.texto-imgs-landing {
  font-size: 20px;
  font-family: 400;
  color: #627259;
}